{% extends "base.html" %} {% block content %}

<header id="pageheader">
  <div class="container my-3 bg-light">
    <div class="row">
      <div class="col md-6 m-auto text-center">
        <h1>会社情報</h1>
        <p>どのような会社かを簡単に説明。どのような会社かを簡単に説明</p>
      </div>
    </div>
  </div>
</header>

<section id="about">
  <div class="container py-3">
    <div class="row">
      <div class="col-md-6">
        <h2>提供サービス</h2>
        <h3 class="fst-italic">サービス１</h3>
        <p>サービス内容の説明。</p>
        <h3 class="fst-italic">サービス２</h3>
        <p>サービス内容の説明。</p>
        <h3 class="fst-italic">サービス３</h3>
        <p>サービス内容の説明。</p>
      </div>
      <div class="col-md-6">
        <img
          src="https://plus.unsplash.com/premium_photo-1683120730432-b5ea74bd9047?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8JUUzJTgyJUFBJUUzJTgzJTk1JUUzJTgyJUEzJUUzJTgyJUI5fGVufDB8fDB8fHww"
          class="rounded-circle img-fruid d-none d-md-block"
        />
      </div>
    </div>
  </div>
</section>
<section id="company_info">
  <div class="container py-3 bg-dark text-light">
    <h2>会社概要</h2>
    <p>社名：社名XXXXX</p>
    <p>設立：９９９９９年１２月３１日</p>
    <p>資本金：１円</p>
    <p>本社：〒１２３－４５６　本社住所</p>
    <p>ＴＥＬ：１２３－１２３－１２３</p>
    <p>従業員：１名</p>
  </div>
</section>
{% endblock %}
