{% extends "base.html" %}
{% block content %}
<section id="login">
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="card bg-primary text-center">
                    <div class="card-body text-light">
                        <h3>ログイン</h3>
                        <form method="POST">
                            {{ form.hidden_tag() }}
                            <div class="mb-3">
                                {{ render_field(form.email, class_="form-control form-control-lg",
                                placeholder="メールアドレス") }}
                            </div>
                            <div class="mb-3">
                                {{ render_field(form.password, class_="form-control form-control-lg",
                                placeholder="パスワード") }}
                            </div>
                            {{ form.submit(class_="btn btn-outline-light w-100", value="ログイン") }}
                            <div class="mt-3">
                                <small>
                                    アカウントをお持ちでない方は
                                    <a href="{{ url_for('users.register') }}" class="text-white">こちら</a>
                                </small>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}